@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/colorNote.scss";

.infinity-wrapper {
  @include centerColumn;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  overflow-y: auto;
  background-color: $Sub200;
  width: 100%;
}

h2 {
  @include centerColumn;
  background-color: $Primary100;
  width: 200px;
  color: white;
  border-radius: 10px;
}
