@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/colorNote.scss";

.infinity-scroll-wrapper {
  @include centerColumn;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  background-color: $Sub200;
  padding-top: 10px;
}

h2 {
  @include centerColumn;
  background-color: $Primary100;
  width: 200px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
