@import "/src/assets/global/globalDisplay.scss";
@import "/src/assets/color/colorNote.scss";

.infinity-item-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;

  .item-sort-block {
    @include betweenRow;
    width: 50%;
    height: 40px;
    margin-bottom: 20px;

    button {
      width: 40%;
      height: 100%;
      font-weight: bold;
      color: white;
      background-color: white;
      border-radius: 5px;
      border: 2px solid $Primary100;
      color: black;
    }

    .active {
      background-color: $Primary100;
      color: white;
    }
  }

  .item-search-block {
    @include betweenRow;
    width: 80%;
    height: 40px;

    input {
      width: 70%;
      height: 100%;
      padding-left: 5px;
    }

    button {
      background-color: white;
      color: black;
      font-weight: bold;
      width: 25%;
      height: 100%;
      border-radius: 5px;
      border: 2px solid $Primary100;

      &:hover {
        background-color: $Primary100;
        color: white;
      }
    }
  }
}

h3 {
  @include centerColumn;
  border-radius: 10px;
  background-color: $Primary100;
  width: 100px;
  margin-bottom: 10px;
}
