@import "../../../assets/global/globalDisplay.scss";
@import "../../../assets/color/colorNote.scss";

.infinity-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 100%;
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: auto;
  background-color: white;
  margin-bottom: 20px;
  width: 90%;
}

.grid-header {
  display: contents;
}

.grid-header .grid-cell {
  font-weight: bold;
  background-color: $Primary100;
}

.grid-row {
  display: contents;
}

.grid-row .grid-cell {
  border-bottom: 1px solid $Gray000;
}

.grid-cell {
  padding: 10px;
  text-align: left;
}

.grid-cell-select {
  padding: 10px;
  text-align: left;
  background-color: $Primary200;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

.infinity-table-loading {
  font-weight: bold;
  width: 100%;
  background-color: $Primary100;
  color: white;
}

.sub-row {
  display: contents;
  position: relative;
}

.sub-cell {
  position: relative;
  padding: 10px;
  text-align: left;
  background-color: $Gray000;
  animation: slideDown 1s ease;
  font-weight: bold;
}

.sub-tooltip-cell {
  position: relative;
  padding: 10px;
  text-align: left;
  background-color: $Gray000;
  animation: slideDown 1s ease;
  font-weight: bold;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
